.game {
  margin-top: 20px;
  padding: 50px 0 120px;
  text-align: center;
  &__container {
    position: relative;
    &.disabled {
      pointer-events: none;
    }
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 20px;
  }

  &__answers {
    position: absolute;
    top: 0;
    right: 0;
    min-height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &-item {
      min-width: 30px;
      width: 30px;
      min-height: 30px;
      height: 30px;
      img {
        width: 100%;
        height: 100%;
      }
      &.hidden {
        display: none;
      }
    }
    img + img {
      margin-left: 10px;
    }
  }
}

.start-btn,
.repeat-btn {
  cursor: pointer;
  display: inline-block;
  margin: 30px auto 0;
  width: 240px;
  height: 60px;
  text-align: center;
  border: none;
  border-radius: 14px;
  color: #fff;
  background-color: rgba(#0099AE, 0.87);
  text-transform: uppercase;
  transition: all 0.2s ease;

  &:hover {
    background-color: #00798E;
  }

  &:active {
    transform: translateY(5%);
  }
}

@media(max-width: 1050px) {
  .game {
    margin-top: 60px;

    &__cards {
      grid-template-columns: repeat(3, 1fr);
      padding: 0 10px;
    }
    &__answers {
      padding: 0 10px;
    }
  }
}

@media(max-width: 780px) {
  .game {
    &__cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media(max-width: 525px) {
  .game {
    &__cards {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}