.main {
  margin-top: 60px;
  padding-bottom: 120px;
}

.categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  position: relative;
  z-index: 0;
}

@media(max-width: 1050px) {
  .categories {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 10px;
  }
}

@media(max-width: 780px) {
  .categories {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 525px) {
  .categories {
    grid-template-columns: repeat(1, 1fr);
  }
}